<template name="commentsTab">
	<div class="tab-pane fade" id="comments">
		{{> comments }}

	</div>
</template>

<template name="comments">

	<div class="post-comments">
										<div class="media">
											<a class="pull-left" href="#">
												<img src="/img/demo/user-1.jpg">
											</a>
											<div class="media-body">
												<div class="comment">
												<h4 class="media-heading">Jane Doe <small>15 days ago</small></h4>
												<p>Lorem ipsum Consectetur voluptate dolore sint dolor esse anim. Lorem ipsum Eiusmod non dolor in adipisicing quis ullamco cillum anim mollit proident.</p>
												<div class="media-actions">
													<button class="btn btn-small btn-primary btn-reply" data-id="{{_id}}"><i class="icon-reply"></i></button>
													|
													<span class="badge badge-success">+ 4</span> /
                                    <span class="badge badge-warning">- 3</span>
												</div>
											</div>
												<div class="media">
													<a class="pull-left" href="#">
														<img src="/img/demo/user-2.jpg">
													</a>
													<div class="media-body">
														<h4 class="media-heading">Max Mustermann <small>16 days ago</small></h4>
														<p>Lorem ipsum Et consequat cupidatat nulla aliqua exercitation consequat aute ea veniam ut.</p>
														<div class="media-actions">
															<a href="#" class="btn btn-small"><i class="icon-reply"></i> Reply</a>
														</div>
													</div>
												</div>
												<div class="media">
													<a class="pull-left" href="#">
														<img src="/img/demo/user-3.jpg">
													</a>
													<div class="media-body">
														<h4 class="media-heading">Max Mustermann <small>16 days ago</small></h4>
														<p>Lorem ipsum Et consequat cupidatat nulla aliqua exercitation consequat aute ea veniam ut.</p>
														<div class="media-actions">
															<a href="#" class="btn btn-small"><i class="icon-reply"></i> Reply</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="media">
											<a class="pull-left" href="#">
												<img src="/img/demo/user-4.jpg">
											</a>
											<div class="media-body">
												<h4 class="media-heading">Jane Doe<small>14 days ago</small></h4>
												<p>Lorem ipsum Consectetur voluptate dolore sint dolor esse anim. Lorem ipsum Eiusmod non dolor in adipisicing quis ullamco cillum anim mollit proident.</p>
												<div class="media-actions">
													<a href="#" class="btn btn-small"><i class="icon-reply"></i> Reply</a>
												</div>
												<div class="media">
													<a class="pull-left" href="#">
														<img src="/img/demo/user-5.jpg">
													</a>
													<div class="media-body">
														<h4 class="media-heading">Username #1<small>15 days ago</small></h4>
														<p>Lorem ipsum Pariatur ut consectetur commodo fugiat quis cupidatat ut consectetur sed ullamco ea incididunt. Lorem ipsum Eiusmod sit magna officia magna in aliquip pariatur. Lorem ipsum Nostrud in veniam anim quis quis nulla incididunt amet elit ad esse do. Lorem ipsum Magna fugiat enim ex tempor cupidatat est consequat qui Excepteur.</p>
														<div class="media-actions">
															<a href="#" class="btn btn-small"><i class="icon-reply"></i> Reply</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="media">
											<a class="pull-left" href="#">
												<img src="/img/demo/user-6.jpg">
											</a>
											<div class="media-body">
												<h4 class="media-heading">Username #2<small>13 days ago</small></h4>
												<p>Lorem ipsum Dolore id anim Duis exercitation exercitation in aliqua incididunt commodo. Lorem ipsum Adipisicing sunt ex ad esse fugiat laborum voluptate aute proident.</p>
												<div class="media-actions">
													<a href="#" class="btn btn-small"><i class="icon-reply"></i> Reply</a>
												</div>
											</div>
										</div>
										<div class="media">
											<a class="pull-left" href="#">
												<img src="/img/demo/user-1.jpg">
											</a>
											<div class="media-body">
												<h4 class="media-heading">Username #3<small>5 days ago</small></h4>
												<p>Lorem ipsum Cillum Ut voluptate tempor Ut consectetur qui.</p>
												<div class="media-actions">
													<a href="#" class="btn btn-small"><i class="icon-reply"></i> Reply</a>
												</div>
											</div>
										</div>
										<div class="new-comment">
											<h4>Add a new comment</h4>
											<form action="#" method="POST" class="form-vertical">
												<div class="control-group">
													<label for="name" class="control-label">Name</label>
													<div class="controls">
														<input type="text" name="name" id="name" class="input-block-level">
													</div>
												</div>
												<div class="control-group">
													<label for="ta" class="control-label">Message</label>
													<div class="controls">
														<textarea name="ta" id="ta" class="span12" rows="4"></textarea>
													</div>
												</div>
												<button type="submit" class="btn btn-primary pull-right">Post comment</button>
											</form>
										</div>
									</div> 
</template>
