<template name="scheduleModal">
	    <!-- Modal -->
    <div id="scheduleModal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="scheduleModal" aria-hidden="true">
    <div class="box box-bordered box-color box-modal">
        <div class="box-title box-modal">
            <h3><i class="icon-th-list"></i> Learn new flashcards!</h3><button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="box-content modal-box modalInfo">
                	{{> myCollectionsList }}
                <div class="pull-right modal-form-actions">

                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">Start learning!</button>
                </div>

        </div>
    </div>
</div>
</template>

<template name="myCollectionsList">

            <div class="box myCollectionsList">

                            {{#each collection}}
                            {{#if itemsToLearn}}
                            <div class="row-fluid addBottomLine">
                                <div class="span5"><h4>{{name}}</h4> <p class="scheduleDetails">Learn: <a href="#" data-type="text" data-id="{{_id}}" name="toLearn"
                                       class="toLearn editable">0</a> out of  {{itemsToLearn}} new. <br/>
                                       {{itemsInCollection}} Flashcards in collection </p>
                                </div><div class="offset1 span6">
                                
                                    <input type="text" class="slider-custom" value="" data-slider-min="0"
                                           data-slider-max="{{itemsToLearn}}" data-slider-step="1" data-slider-value="0"
                                           data-slider-orientation="horizontal" data-slider-handle="square"
                                           data-slider-selection="after" data-slider-tooltip="hide" data-id="{{_id}}" />
                                   
                                 </div>
                             </div>
                                {{/if}}
                            {{/each}}


    </div>
</template>