<template name="myCollectionsList">
    <div class="box-content modalInfo" id="myCollectionsList">
        <div style="display: none;" class="sliderInfo">
            <p class="small">Use the slider to select how many new flashcards you want to learn</p>
        </div>

        <div class="myCollectionsList">

            {{#each collection}}
            {{> collectionStudyRow }}


            {{/each}}
        </div>
        {{#if noNewItems}}
        <div class="modalInfo">
            <p class="lead repeat">Congratulations!</p>

            <p class="lead repeat">You've learned it all!</p>

            <p class="lead repeat last">Let's do the repetitions!</p>
        </div>
        <br/>
        {{/if}}
    </div>

</template>


<template name="collectionStudyRow">
    <div class="row addBottomLine">
        <div class="col-md-5"><h4>{{name}}</h4>

            <p class="scheduleDetails">Learn: <a href="#" data-type="text" data-id="{{_id}}" name="toLearn"
                                                 class="toLearn editable">0</a> out of {{itemsToLearn}} new. <br/>
                {{itemsInCollection}} Flashcards in collection </p>
        </div>
        <div class="cold-md-offset-1 col-md-6">

            <input type="text" class="slider-custom" value="" data-slider-min="0"
                   data-slider-max="{{itemsToLearn}}" data-slider-step="1" data-slider-value="0"
                   data-slider-orientation="horizontal" data-slider-handle="square"
                   data-slider-selection="after" data-slider-tooltip="hide" data-id="{{_id}}"/>


        </div>
    </div>
</template>