<template name="repeat">

    <div class="row-fluid">
        <div class="span8 center mainBox">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="icon-th-list"></i> Improve TheBrain connections!</h3>
                </div>

                <div class="box-content nopadding">
                    <div class="tabs-container">
                        <ul class="tabs tabs-inline tabs-left ">
                            {{#isolate}}

                            <li class="active">
                                <a href="#repeatFlashcards" data-toggle="tab"><i class="icon-road"></i> Repetitions</a>
                            </li>
                            <li>
                                <a href="#picture" data-toggle="tab"><i class='icon-camera'></i> Picture</a>
                            </li>
                            <li>
                                <a href="#comments" data-toggle="tab"><i class="icon-twitter"></i> Comments {{#with flashcard}}({{comments.length}}){{/with}}</a>
                            </li>

                            <li>
                                <a href="#history" data-toggle="tab"><i class="icon-calendar"></i> History {{#with item}}({{previousAnswers.length}}){{/with}}</a>
                            </li>
                            <li>
                                <a href="#edit" data-toggle="tab"><i class="icon-edit"></i> Edit</a>
                            </li>
                            {{/isolate}}
                        </ul>
                    </div>
                    <div class="tab-content padding tab-content-inline">
                        <div class="tab-pane active fade in" id="repeatFlashcards">
                            <div class="flashcards">

                                <div class="currentFlashcard">
                                    <div class="flashcard front"></div>
                                    <div class="flashcard answer hidden-phone" contentEditable="true"></div>
                                    <button class="btn btn-large btn-primary btn-primary-main btn-block btn-show-answer" style="">Show answer</button>
                                    <div class="flashcard back" style="display: none;"></div>

                                    <div class="evaluate" class="form-actions" item-id="">
                                        <button class="btn btn-primary btn-primary-main evaluation" value="0">Blackout</button>
                                        <button class="btn btn-primary btn-primary-main evaluation" value="1">Terrible</button>
                                        <button class="btn btn-primary btn-primary-main evaluation" value="2">Bad</button>
                                        <button class="btn btn-primary btn-primary-main evaluation" value="3">Hardly</button>
                                        <button class="btn btn-primary btn-primary-main evaluation" value="4">Good</button>
                                        <button class="btn btn-primary btn-primary-main evaluation" value="5">Perfect!</button>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="tab-pane fade" id="picture">
                            awerwreaw
                        </div>
                        <div class="tab-pane fade" id="history">
                            {{> itemHistory }}
                        </div>
                        <div class="tab-pane fade" id="comments">
                            {{> flashcardComments }}
                        </div>
                        <div class="tab-pane fade" id="edit">
                            {{> editFlashcard }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{{> doneForTodayModal }}
{{> scheduleModal }}
{{> newFlashcardVersionModal }}
</template>


<template name="itemHistory">
        {{#each previousAnswer}}
        <div class="row-fluid addBottomLine itemHistory">
            <div class="previousAnswer">
                <h4>{{historyDate}}</h4>
                <p>My answer: <strong>{{answer}}</strong><br/>
                    My evaluation: <strong>{{historyEvaluation}}</strong><br/>
                    {{#if extraRepetition}}
                        Additional repetition session.<br/>
                    {{else}}
                        Next repetition set for <strong>{{daysChangeFormat}}</strong> in the future.</br>
                    {{/if}}
                </p>
            </div>
</div>
        {{/each}}
</template>
