<template name="availableFlashcards">
    <div class="row">
        <div class="col-md-9 center">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="fa fa-th-list"></i> Look for Flashcards</h3>
                </div>
                <div class="box-content padding">
                    {{> withSelectedFlashcards }}

                        {{#each flashcard}}
                            {{> availableFlashcard }}
                        {{/each}}


                        {{#if flashcardsReady}}

                                {{#unless allFlashcardsLoaded}}
                                    <div class="textCenter">
                                        <button class="btn btn-primary btn-primary-main load-more"><i class="fa fa-hand-o-down"> Load more</i></button>
                                    </div>
                                {{/unless}}

                        {{else}}

                                <div>{{> spinner}}</div>

                        {{/if}}

                </div>
            </div>
        </div>
    </div>
</template>

<template name="withSelectedFlashcards">
    <div class="withSelected">
        <div class="row searchPanel">
            <div class="col-md-8 center">
                <form action="" method="GET" class="search-form">
                    <div class="search-pane">
                        <input type="text" name="search" id="availableFlashcardsSearch" placeholder="Search here...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row withSelectedLabel">
            <span class="label label-info withSelectedLabel">With {{flashcardsSelectedLength}} selected:</span>

        </div>
        <div class="withSelectedButtons">
            <div class="row">
                <div class="col-md-6">
                    <button class=" btn btn-primary btn-primary-main btn-addToCollection btn-block"><i class="fa fa-hand-o-right"></i> Add to collection
                    </button>
                </div>
                <div class="col-md-6">
                    <button class=" btn btn-primary btn-primary-main btn-addToCourse btn-block"><i class="fa fa-hand-o-right"></i> Add to course
                    </button>
                </div>

            </div>
            <br/>

            <div class="row">
                <div class="col-md-6">
                    <button class=" btn btn-primary btn-primary-main btn-selectAll btn-block"><i class="fa fa-hand-o-right"></i> Select All
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-primary-main btn-deSelectAll btn-block"><i class="fa fa-hand-o-right"></i> Deselect All
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>