.DS_Store
tests/cookies.txt
meteor.sh
.buildpath
/.idea
.settings.xml
/.settings
client/lib/views/auditlog/
tests/casper/screenshots
server/config.js
server/social-config.js
node_modules/
settings.json
