<template name="khanVideo">
    <div class="row">
        <div class="box box-bordered box-color">
            <div class="box-title">
                <h3><i class="fa fa-th-list"></i> KhanAcademy: {{playlistTitle}}</h3>
            </div>

            <div class="box-content nopadding">
                <div class="tabs-container">
                    <ul class="tabs tabs-inline tabs-left ">

                            <li class="active">
                                <a href="#khanVideo" data-toggle="tab"><i class="fa fa-road"></i> Video</a>
                            </li>
                            <li>
                                <a href="#youtubeFlashcards" data-toggle="tab"><i class="fa fa-comments-o"></i> Flashcards ({{youtubeVideoFlashcardsCount}})
                                </a>
                            </li>
                            <li>
                                <a href="#khanVideoPlaylist" data-toggle="tab"><i class="fa fa-film"></i> Other videos</a>
                            </li>

                    </ul>
                </div>
                <div class="tab-content padding tab-content-inline">
                    <div class="tab-pane active fade in" id="khanVideo">
                    <h4>{{videoTitle}}</h4>
                        <p class="small">{{videoDescription}}</p>
                        <div class="flex-video widescreen">
                            <iframe src="http://www.youtube.com/embed/{{youtube_id}}?HD=1;rel=0;showinfo=0;controls=1"
                                    frameborder="0" allowfullscreen=""></iframe>
                        </div>
                                       <br/>
                        <div class="row">
                            <div class="col-md-6">
{{#if isNotFirstVideo}} {{#with previousVideo}} <button class="btn btn-primary btn-primary-main previousVideo btn-block" data-id="/khanVideo/{{playlistSlug}}/{{readable_id}}/{{youtube_id}}"><i class="fa fa-hand-o-left"></i> {{title}}</button>{{/with}}{{/if}}
                            </div>
                            <div class="col-md-6">
{{#if isNotLastVideo}} {{#with nextVideo}}<button class="btn btn-primary btn-primary-main nextVideo btn-block" data-id="/khanVideo/{{playlistSlug}}/{{readable_id}}/{{youtube_id}}">{{title}} <i class="fa fa-hand-o-right"> </i></button>{{/with}}{{/if}}
                            </div>
                        </div>
                    </div>

                        {{> youtubeFlashcardsTab }}
                    <div class="tab-pane fade" id="khanVideoPlaylist">
                        <ul>
                            {{#each videos}}
                                {{> khanVideoRow }}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


</template>
