<template name="newFlashcardModal">
    <!-- Modal -->
    <div id="newFlashcardModal" class="modal hide fade modal-wide" tabindex="-1" role="dialog"
    aria-labelledby="newFlashcardModal" aria-hidden="true">
    <div class="box box-bordered box-color box-modal">
        <div class="box-title box-modal">
            <h3><i class="icon-th-list"></i> New Flashcard for {{selectedCourseName}}, lesson: {{selectedLessonName}}</h3><button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="box-content nopadding modal-box">

            <form action="#" class='form-horizontal form-bordered'>
                {{> flashcardForm }}
                <div class="form-actions pull-right modal-form-actions">


                    {{> flashcardButtons }}
                    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</template>
