<template name="newFlashcardModal">
    <!-- Modal -->
    <div id="newFlashcardModal" class="modal hide fade modal-wide" tabindex="-1" role="dialog"
    aria-labelledby="newFlashcardModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="box box-bordered box-color box-modal">
        <div class="box-title box-modal">
            <h3><i class="icon-th-list"></i> {{newFlashcardModalTitle}} </h3><button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <form action="#" class='form-horizontal form-bordered'>
        <div class="box-content nopadding modal-box">


                {{> flashcardForm }}


        </div>
            <div class="modal-footer-mine">
            <div class="pull-right modal-form-actions">


                {{#isolate}}{{> flashcardButtons }}{{/isolate}}
                <button type="button" class="btn btn-primary btn-primary-main" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
            </div>
        </form>
    </div>
</div>
</template>
