<template name="myCollectionsFlashcards">
    <div class="row-fluid">
        <div class="span9 center">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="icon-th-list"></i> {{collectionName}}</h3>
                </div>
                <div class="box-content padding">
                    <div class="row-fluid examModeButton">
                        <div class="span12">
                            <button class=" btn btn-primary btn-primary-main btn-examModeModal btn-block"><i class="icon-hand-right"></i> Exam mode / schedule extra repetitions
                            </button>
                        </div>
                    </div>
                    {{> withSelectedItems }}
                    {{#isolate}}
                        <div id="flashcardsList">
                            {{#each item}}
                                {{> myFlashcard }}
                            {{/each}}
                        </div>
                    {{/isolate}}
                    {{#isolate}}
                        {{#if itemsReady}}
                            {{#isolate}}
                                {{#unless allItemsLoaded}}
                                    <div class="textCenter">
                                        <button class="btn btn-primary btn-primary-main load-more"><i class="icon-hand-down"> Load more</i></button>
                                    </div>
                                {{/unless}}
                            {{/isolate}}
                        {{else}}
                            {{#isolate}}
                                <div>{{> spinner}}</div>{{/isolate}}

                        {{/if}}
                    {{/isolate}}
                </div>
            </div>
        </div>
    </div>

    {{> changeItemsCollectionModal }}
    {{> editFlashcardModal }}
    {{> historyFlashcardModal }}
    {{> commentsFlashcardModal }}
    {{> examModeModal }}
</template>

<template name="withSelectedItems">
    <div class="withSelected">
        <div class="row-fluid searchPanel">
            <div class="span8 center">
                <form action="" method="GET" class="search-form">
                    <div class="search-pane">
                        <input type="text" name="search" id="availableItemsSearch"  placeholder="Search here...">
                        <button type="submit"><i class="icon-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <span class="label label-info withSelectedLabel">With {{#isolate}}{{flashcardsSelectedLength}}{{/isolate}} selected:</span>

        </div>
        <div class="withSelectedButtons">
            <div class="row-fluid">
                {{#if isCollectionSelected}}<div class="span3" >
                    <button class=" btn btn-primary btn-primary-main btn-changeCollection btn-block"><i class="icon-hand-right"></i> Change collection
                    </button>
                </div>{{/if}}
                <div {{#if isCollectionSelected}}class="span3"{{else}}class="span4"{{/if}}>
                    <button class=" btn btn-primary btn-primary-main btn-deactivateItems btn-block"><i class="icon-hand-right"></i> Deactivate
                    </button>
                </div>
                <div {{#if isCollectionSelected}}class="span3"{{else}}class="span4"{{/if}}>
                    <button class=" btn btn-primary btn-primary-main btn-extraRepeatItems btn-block"><i class="icon-hand-right"></i> Extra repeat session
                    </button>
                </div>
                <div {{#if isCollectionSelected}}class="span3"{{else}}class="span4"{{/if}}>
                    <button class=" btn btn-primary btn-primary-main btn-addItemsToCourse btn-block"><i class="icon-hand-right"></i> Add to course
                    </button>
                </div>
            </div>
            <br/>
            <div class="row-fluid">
                <div class="span6">
                    <button class=" btn btn-primary btn-primary-main btn-selectAll btn-block"><i class="icon-hand-right"></i> Select All
                    </button>
                </div>
                <div class="span6">
                    <button class="btn btn-primary btn-primary-main btn-deSelectAll btn-block"><i class="icon-hand-right"></i> Deselect All
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="changeItemsCollectionModal">
    <!-- Modal -->
    <div id="changeItemsCollectionModal" class="modal hide fade" tabindex="-1" role="dialog"
            aria-labelledby="changeItemsCollectionModal" aria-hidden="true">
        <div class="box box-bordered box-color box-modal">
            <div class="box-title box-modal">
                <h3><i class="icon-th-list"></i> Change collection for selected items </h3>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="box-content nopadding modal-box">
                <p style="text-align: center;">
                    <small>Hint: If you've changed your mind, just leave the current collection selected</small>
                </p>
                <form action="#" class='form-horizontal form-bordered'>
                    {{> collectionSelector }}
                    <div class="form-actions pull-right modal-form-actions">

                        <button type="button" class="btn btn-primary btn-primary-main" data-dismiss="modal" aria-hidden="true">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<template name="collectionSelector">

    <div class="control-group">
        <label class="control-label">Collection</label>

        <div class="controls">
            <select name="newCollectionId" id="newCollectionId" class="input-large select2">
                {{#each collection}}
                    <option value="{{_id}}" {{selectIfCurrent}}>{{name}}</option>
                {{/each}}
                {{select2 'collection'}}
            </select>
        </div>
    </div>

</template>