<template name="myCollections">
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="icon-th-list"></i> My collections</h3>
                </div>
                <div class="box-content nopadding">
                    <table class="table table-hover table-nomargin">
                        <thead>
                        <tr class="hidden-480">
                            <th>&nbsp;</th>
                            <th class="hidden-480" colspan="5">TheBrain connections</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th class="hidden-480">to create</th>
                            <th class="hidden-480">to refresh</th>
                            <th class="hidden-480">to recreate</th>
                            <th class="hidden-480">active</th>
                            <th>enter</th>
                        </tr>
                        </thead>
                        <tbody>{{#isolate}}
                            {{#each collection}}
                                {{> collectionRow }}

                            {{/each}}
                        {{/isolate}}
                        <tr>
                            <td></td><td class="hidden-480"></td><td class="hidden-480"></td><td class="hidden-480"></td><td class="hidden-480"></td>
                            <td><button class="btn btn-primary btn-primary-main btn-addCollectionModal btn-block"><i class="icon-plus-sign-at"></i> Add new</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   {{> newCollectionModal }}
</template>

<template name="collectionRow">
    <tr class="collectionRow" data-id="{{_id}}">
        <td><a href="javascript:" name="name" data-id="{{_id}}" data-type="text" class="collection-name editable">{{name}}</a></td>
        <td class="hidden-480">{{itemsToLearn}}</td>
        <td class="hidden-480">{{itemsToRepeat}}</td>
        <td class="hidden-480">{{itemsToReLearn}}</td>
        <td class="hidden-480">{{learnedItems}}</td>
        <td><button class="btn btn-primary btn-primary-main btn-enterCollection btn-block" data-id="{{_id}}"><i class="icon-hand-left"></i></button>
        </td>
    </tr>
</template>