<template name="flashcardComments">


        {{> addFlashcardComment }}

        <div class="post-comments">
            {{#each mainComment}}
            <div class="media">
                <a class="pull-left" href="#">
                    <img class='userPictureComment' src="{{userPicture}}">
                </a>

                <div class="media-body">
                    <div class="comment">
                        <h4 class="media-heading">{{userName}}
                            <small>{{date}}</small>
                        </h4>
                        <p>{{comment}}</p>

                        <div class="media-actions">
                            <button class="btn btn-small btn-primary btn-primary-main btn-reply" data-id="{{_id}}"><i
                                    class="fa fa-reply"></i></button>
                            |
                            <span class="badge badge-success badge-upVote">+ {{upVotes.length}}</span> /
                            <span class="badge badge-warning badge-downVote">- {{downVotes.length}}</span>
                        </div>
                    </div>

                    <div class="row row-reply" data-id="{{_id}}" style="display: none;">
                        <div class='new-comment'>
                            <div class="form-group">
                                <div class="input-group col-sm-8">
                                    <textarea name="newReply" class="col-md-8 newReply" rows="3"
                                              data-id="{{_id}}"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="col-md-6 btn btn-primary btn-primary-main center btn-addReply"
                                    data-id="{{_id}}">Post Reply
                            </button>
                        </div>
                    </div>

                    {{#each subComment}}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class='userPictureComment' src="{{userPicture}}">
                        </a>

                        <div class="media-body">
                            <div class="comment">
                                <h4 class="media-heading">{{userName}}
                                    <small>{{date}}</small>
                                </h4>
                                <p>{{comment}}</p>

                                <div class="media-actions">
                                    <button class="btn btn-small btn-primary btn-primary-main btn-reply"
                                            data-id="{{_id}}"><i class="fa fa-reply"></i>
                                    </button>
                                    |
                                    <span class="badge badge-success badge-upVote">+ {{upVotes.length}}</span> /
                                    <span class="badge badge-warning badge-downVote">- {{downVotes.length}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row row-reply" data-id="{{_id}}" style="display: none;">
                            <div class='new-comment'>
                                <div class="form-group">
                                    <div class="input-group col-sm-8">
                                        <textarea name="newReply" class="col-md-8 newReply" rows="3"
                                                  data-id="{{_id}}"></textarea>
                                    </div>
                                </div>
                                <button type="submit"
                                        class="col-md-6 btn btn-primary btn-primary-main center btn-addReply"
                                        data-id="{{_id}}" data-parentId="{{../_id}}">Post Reply
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
</template>


<template name="addFlashcardComment">
        <div class="new-comment">
            <h4>Add a new comment</h4>

            <form class="form-validate form-horizontal">

                <div class="form-group">
                    <div class="input-group">

                        <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>

                        <textarea name="newComment" class="newComment form-control" rows="3"></textarea>
                        <span class="input-group-btn"><button type="submit"
                                                              class="btn btn-primary btn-primary-main center btn-addNewComment">
                            Post
                            Comment
                        </button></span>
                    </div>


                </div>

            </form>

        </div>

</template>