
<template name="flashcardComments">

    <div class='row-fluid'>

        {{> addFlashcardComment }}

        <div class="post-comments">
            {{#each mainComment}}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class='userPictureComment' src="{{userPicture}}">
                    </a>

                    <div class="media-body">
                        <div class="comment">
                            <h4 class="media-heading">{{userName}}
                                <small>{{date}}</small>
                            </h4>
                            <p>{{comment}}</p>

                            <div class="media-actions">
                                <button class="btn btn-small btn-primary btn-primary-main btn-reply" data-id="{{_id}}"><i class="icon-reply"></i></button>
                                |
                                <span class="badge badge-success badge-upVote">+ {{upVotes.length}}</span> /
                                <span class="badge badge-warning badge-downVote">- {{downVotes.length}}</span>
                            </div>
                        </div>

                        <div class="row-fluid row-reply" data-id="{{_id}}" style="display: none;">
                            <div class='new-comment'>
                                <div class="control-group">
                                    <div class="controls">
                                        <textarea name="newReply" class="span8 newReply" rows="3" data-id="{{_id}}"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="span6 btn btn-primary btn-primary-main center btn-addReply" data-id="{{_id}}">Post Reply</button>
                            </div>
                        </div>

                        {{#each subComment}}
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class='userPictureComment' src="{{userPicture}}">
                                </a>

                                <div class="media-body">
                                    <div class="comment">
                                        <h4 class="media-heading">{{userName}}
                                            <small>{{date}}</small>
                                        </h4>
                                        <p>{{comment}}</p>

                                        <div class="media-actions">
                                            <button class="btn btn-small btn-primary btn-primary-main btn-reply" data-id="{{_id}}"><i class="icon-reply"></i>
                                            </button>
                                            |
                                            <span class="badge badge-success badge-upVote">+ {{upVotes.length}}</span> /
                                            <span class="badge badge-warning badge-downVote">- {{downVotes.length}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid row-reply" data-id="{{_id}}" style="display: none;">
                                    <div class='new-comment'>
                                        <div class="control-group">
                                            <div class="controls">
                                                <textarea name="newReply" class="span8 newReply" rows="3" data-id="{{_id}}"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" class="span6 btn btn-primary btn-primary-main center btn-addReply" data-id="{{_id}}" data-parentId="{{../_id}}">Post Reply
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>


<template name="addFlashcardComment">
    <div class="row-fluid">
        <div class="new-comment">
            <h4>Add a new comment</h4>

            <div class="control-group">
                <div class="controls">
                    <textarea name="newComment" class="span8 newComment" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="span6 btn btn-primary btn-primary-main center btn-addNewComment">Post Comment</button>
        </div>
    </div>

</template>