<template name="availableCourses">
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="icon-th-list"></i> Available courses</h3>
                </div>
                <div class="box-content nopadding">
                    <table class="table table-hover table-nomargin">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Students</th>
                            <th class="hidden-480">Flashcards</th>
                            <th class="hidden-480">Lessons</th>
                            <th class="hidden-480">Votes</th>
                            <th class="hidden-480">Comments</th>
                            <th>Enter</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#if showFeatured}}
                        <tr class="featuredCourse">
                            <td colspan="7" class="tableDetails">TheBrain.Pro Featured Courses</td>
                        </tr>
                            {{#each featuredCourse}}
                                {{> courseRow }}
                            {{/each}}
                        <tr class="courseRow">
                            <td colspan="7" class="tableDetails">TheBrain.Pro Community Courses</td>
                        </tr>
                        {{/if}}
                                {{#each course}}
                            {{> courseRow }}
                            {{/each}}

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</template>
