.ui-pnotify.stack-bar-bottom {
    margin-left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    left: auto;
}

.ui-pnotify-history-container {
    display: none;
}

.ui-pnotify.stack-bottomright {
	right: auto;
	top: auto;
}

.notificationImage {
	height: 40px; 
	width: 40px;
}