body {
    background: #f2f2f2;
}

.flashcard {
    position: relative;
    text-align: left;
    background: #f2f2f2;
    color: #000000;
    border: 2px solid rgb(60,171,218) !important;
    font-weight: normal;
    resize: none;
    height: 90px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 5px;
    overflow-y: auto;
}

.flashcard.flashcardNoMargin {
    margin-bottom: 0px;
}

textarea[disabled].flashcard {
    background: #f2f2f2 !important;
    color: #000000 !important;
    border: 2px solid rgb(60,171,218) !important;
    opacity: 1 !important;
}

.evaluate {
    display: none;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
}

.evaluation {
    margin-top: 3px;
}

.flashcards {
    position: relative;
}

.currentFlashcard {
    position: relative;
    left: -6px;
}

.modal-form-actions {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.box-modal {
    margin-top: 0px !important;
}

/*.modal-box {*/
    /*border: 3px solid rgb(60,171,218) !important;*/
    /*border-top: 0px !important;*/
    /*overflow-y: auto !important;*/
/*}*/

.modal-close {
    padding-right: 8px !important;
}

.slider-custom {
    display: none !important;
}

@media (max-width: 767px) {
    .slider {
        margin-bottom: 0px !important margin-top : 10 px;
    }
}

@media (min-width: 768px) {
    .slider {
        margin-bottom: 0px !important;
        margin-top: 50px !important;
    }
}


.container {
    padding: 0;
}


#navigation > .container {
    padding: 0 10px;
}

.centerTable > td {
    text-align: center !important;
}

.transition {
    display: none;
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
    z-index: 5;
}

.flex-video.widescreen {
    padding-bottom: 57.25%;
}

.flex-video.vimeo {
    padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video {
        padding-top: 0;
    }
}

.loginButtons {

}

.login-or {
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 200;
    line-height: 30px;
    font-size: 15px;
}

.icon-facebook-sign {
    margin-right: 3px;
    font-size: 20px !important;
}

.brand {
    margin-top: 5px;
}

html, body {
    height: 100%;
}

.push {
    margin-bottom: 40px;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px; /* .push must be the same height as .footer */
    z-index: 150;
}

/*.modal {*/
/*position: absolute !important;*/
/*}*/

.activityDate {
    font-size: 75%;
}

@media (max-width : 480px) {
    .form-actions .btn {
        width: 100%;
        margin-top: 1px;
    }
}

.box-tab {
    border: 3px solid #ddd;
}

.timeline {
    margin-top: -20px;
    margin-bottom: -20px;
}

@media (min-width : 768px) {
    .modal-wide {
        width: 760px;
        margin-left: -380px;
    }
}

@media (max-width: 767px) {
    form .btn {
        display: block;
        width: 100%;
        margin-top: 1px;
    }

    form .pull-right {
        float: none !important;
    }

    form input[type='text'] {
        width: 96%;
    }
}

h3.repeat {
    margin-top: 0px;
}

.repeat {
    padding: 20px;
    padding-bottom: 0px;
}

.repeat.last {
    padding-bottom: 0px;
}

.clickable {
    cursor: pointer !important;
}



.myCollectionsList {
    text-align: center;
}

.scheduleDetails {
    line-height: 25px;
    font-size: 15px;
}

.modalInfo {
    text-align: center;
    padding: 20px;
}

.addBottomLine {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.slider-horizontal {
    margin-bottom: 5px !important;
}

.quickButtons {
    text-align: center;
}

.quickButton {
    margin-bottom: 20px;
    padding-right: 9px;
    width: 100%;
    height: 100px;
    display: block;
    position: relative;
    background-color: #F2F2F2;
    color: #204473;
    border: 2px solid rgb(60,171,218);

    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

}
.quickButton:hover {
    background-color: rgb(60,171,218);
    color: #F2F2F2;


    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}


/*.quickButtonLogin {*/
    /*margin-bottom: 20px;*/
    /*padding-right: 9px;*/
    /*width: 100%;*/
    /*height: 100px !important;*/
    /*display: block;*/
    /*position: relative;*/
    /*background-color: #F2F2F2;*/
    /*color: #204473;*/
    /*border: 2px solid rgb(60,171,218);*/

    /*transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;*/
    /*-moz-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;*/
    /*-webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;*/

/*}*/
/*.quickButtonLogin:hover {*/
    /*background-color: rgb(60,171,218);*/
    /*color: #F2F2F2;*/


    /*transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;*/
    /*-moz-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;*/
    /*-webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;*/
/*}*/

/*.btn-primary {*/
    /*transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;*/
/*}*/
/*.btn-primary:hover {*/
    /*background: #fff;*/
    /*color: #E74C3C;*/
    /*transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;*/
/*}*/


.btn-mine {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    filter: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    border: 0;
    text-align: center;
    width: 100%;
}



.quickButton span {
    padding-top: 20px;
}

.quickIcon {
    font-size: 45px;
    position: relative;
    top: -10px;
}

.quickButton .name {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 0;
    text-align: left;
    padding: 3px 10px;
    float: left;
    font-size: 21px;
    padding: 0;
}

.padding-quickButtons {
    padding-bottom: 0px !important;
}

@media (min-width : 768px) {
    .btn-signUpWithFacebook, .btn-signUpWithEmailModal {
        font-size: 25px;
        padding-top: 7px;
    }
}

@media (max-width : 767px) {
    .btn-signUpWithFacebook, .btn-signUpWithEmailModal {
        font-size: 20px;
        padding-top: 7px;
        height: 60px !important;
    }
}

ul.icons {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px
}

ul.icons > li {
    margin-bottom: 5px;
    list-style-type: none;
}

.loginSignUp > h2 {
    margin-top: 20px;
}

.flashcardsList {
    text-align: center;
}

.flashcardRow {
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-right: 1px solid #ddd;

}

.updatedFlashcardRow {
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.flashcardsList .row .span9, .flashcardsList .row .span3 {
    border-top: 1px solid #ddd;
}

.flashcardsList .row .span9:hover {
    background: #f2f2f2;
}

.flashcardOptionsRow:hover {
    background: #f2f2f2;
}

.flashcardOptionsRow, .updatedFlashcardOptionsRow {
    margin-left: 0px !important;
    height: 100%;
    padding: 3px;
}

.flashcardsOptions {
    padding: 5px;
}

.flashcardRow h4 {
    margin-top: 0px;

    text-align: left;
    background: #f2f2f2;
    color: #000000;
    border: 2px solid rgb(60,171,218) !important;
    font-weight: normal;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.btn-courseEnrollment {
    margin-right: 10px !important;
}

.notificationImage {
    margin-left: 10px;
}

.btn-addPictureToFront.hidden-phone, .btn-addPictureToBack.hidden-phone {
    position: relative !important;
    top: 40px;
}

.btn-addPictureToFront.visible-phone, .btn-addPictureToBack.visible-phone {
    margin-top: 10px;
}

.dropdown-menu.dropdown-menu-custom {
    display: none;
}

div.flashcardFront, div.flashcardBack {
    outline: none !important;
    border: 0px !important;
}

.flashcardText {
    margin: 2px;
}

.flashcardPicture.pull-right {
    float: right !important;
}

.new-comment > h4 {
    text-align: center;
}

.new-comment {
    text-align: center;
}

.new-comment > .control-group {
    text-align: center;
}

.new-comment > .btn-addNewComment {
    text-align: center;
}

.new-comment {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.new-news {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.userPictureComment {
    width: 84px;
}

.box:not(.box-modal) {
    -moz-box-shadow: 6px 6px 8px 2px #ccc;
    -webkit-box-shadow: 6px 6px 8px 2px #ccc;
    box-shadow: 6px 6px 8px 2px #ccc;
}

.btn {
    -webkit-box-shadow: 8px 6px 8px -4px #CCCCCC;
    -moz-box-shadow: 8px 6px 8px -4px #CCCCCC;
    box-shadow: 8px 6px 8px -4px #CCCCCC;
}

.quickButton {
    -webkit-box-shadow: 8px 6px 8px -4px #CCCCCC;
    -moz-box-shadow: 8px 6px 8px -4px #CCCCCC;
    box-shadow: 8px 6px 8px -4px #CCCCCC;
}

.btn-mine {
    -webkit-box-shadow: 8px 6px 8px -4px #CCCCCC;
    -moz-box-shadow: 8px 6px 8px -4px #CCCCCC;
    box-shadow: 8px 6px 8px -4px #CCCCCC;
}

li.active > a {
    background: #f2f2f2 !important;
    border-bottom: 0 !important;
}

#navigation .main-nav > li > a {
    padding: 11px 15px;
}

#navigation .user .icon-nav > li > a {
    padding: 11px 10px;
}

#navigation .toggle-mobile {
    padding: 11px 10px;
}

.icon-facebook-sign:before {
    vertical-align: -5%;
}

.itemHistory {
    text-align: center;
}

.previousAnswer {
    line-height: 25px;
}

.btn-header {
    -webkit-box-shadow: 0 0 0 0 #ccc !important;
    -moz-box-shadow: 0 0 0 0 #ccc !important;
    box-shadow: 0 0 0 0 #ccc !important;
    height: 42px;
    border: 2px solid rgb(60,171,218);
}

#login-form {
    border-top: 1px solid #ddd;
}

.note {
    font-style: italic;
}

.editableImage {
    -webkit-box-shadow: 8px 8px 8px -4px #444;
    -moz-box-shadow: 8px 8px 8px -4px #444;
    box-shadow: 8px 8px 8px -4px #444;
    border: 2px solid rgb(60,171,218);
}

.box-content.modal-box {
    /*border-bottom: 1px solid rgb(60,171,218) !important;*/
}

/*.modal-footer-mine {*/
    /*padding: 14px 15px 15px;*/
    /*margin-bottom: 0;*/
    /*background-color: #f5f5f5;*/
    /*border-right: 3px solid rgb(60,171,218);*/
    /*border-left: 3px solid rgb(60,171,218);*/
    /*border-bottom: 3px solid rgb(60,171,218);*/
    /*border-top: 0px rgb(60,171,218) !important;*/
/*}*/

/*.modal-footer-mine:before, .modal-footer-mine:after {*/
    /*display: table;*/
    /*line-height: 0;*/
    /*content: "";*/
/*}*/

/*.modal-footer-mine:after {*/
    /*clear: both;*/
/*}*/

.modal-footer {
    background-color: #f5f5f5;
    border-top: 3px solid rgb(60,171,218);
    text-align: right;
    padding: 15px;
}

.updatedFlashcardOptionsRow .row{
    margin-top: 3px;
    margin-bottom: 3px;
}

.badge.badge-upVote {

}

.badge.badge-downVote {

}

.badge-upVote.badge-success {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #999;
}

.badge-success-reversed {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: black;
    border: 2px solid #999;
    color: white;
}

.badge-downVote.badge-warning {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: black;
    color: white;
    border: 2px solid #999;
}

.badge-warning-reversed {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #999;
}

.badge.badge-upVoted {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: grey;
    color: white;
    border: 2px solid #999;
}

.badge.badge-downVoted {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: grey;
    color: white;
    border: 2px solid #999;
}

.progress {
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.progress .bar {
    z-index: 1;
    position: absolute;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
}

.progress span {
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: black;
    text-shadow: 2px 2px 3px #555;
}

.myFlashcardRow {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.myFlashcardRow:hover {
    background: #f2f2f2;
}

.myFlashcardRow .span4 .row {
    padding-bottom: 10px;
}

.flashcardSelected {
    background: #ddd;
}

.myFlashcardRow.flashcardSelected:hover {
    background: #ccc;
}

.withSelectedLabel {
    margin-bottom: 10px;
}
.searchPanel {
    margin-top: -10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.examModeButton {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #ddd;
}
.withSelectedButtons {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #ddd;
}

.selectableFlashcard {
    margin-top: 3%;
}

.textCenter {
    text-align: center;
}

.lessonFlashcards {

    padding: 5px !important;
}

.fc-event-inner {
    text-align: center;
}

.fc-event-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 200%;
}

.iconFace {
    background-color: rgb(60,171,218);
    float: left;
    padding: 2px;
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: -20px;
    top: -10px;
    }

.tabbablePadding {
    padding: 10px;
}

.userRow {
    padding-bottom: 20px;
    text-align: center;
}

.userRow:hover {
    background: #ccc;
}

.currentFlashcard > h5.collectionName{
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
}

.khanPlaylistRow {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
}
.khanPlaylistRow:hover {
    background: #efefef;
}
.khanVideo {
    text-align: left;
    margin-top: 5px;
}
.khanVideos ul, #khanVideoPlaylist ul, #coursePlaylist ul {
    list-style: none;
    /*text-decoration: underline;*/
    color: rgb(60,171,218);


}
.khanVideo .fa .fa-hand-o-right {
    margin-top: 3px;
    color: #000;
}

li.khanVideo:hover {
    background: #dfdfdf;
    cursor: pointer;

}

.highlighted {
    background-color:yellow;
}

.tableDetails {
    background: #eee;
    text-align: center !important;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    font-weight: bold;
}


.loginList > p {

    line-height: 1.6;
    font-size: 130%;
}


    .loginList, .loginList > li > i  {
        line-height: 56px;
    font-size: 20px;
    }

    .loginListPhone {
        line-height: 30px;
        font-size: 15px;
    }

    .modal-content {
        border: 3px solid rgb(60,171,218);
    }

    .modal-header {
        background: rgb(60,171,218);
        color: white;
    }

    .modal-body-form {
        padding: 0px
    }

.btn.btn-primary-main {
    background: #F2F2F2;
    color: #204473;
    border: 2px solid rgb(60,171,218);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.btn.btn-primary:hover {
    background: rgb(60,171,218);
    color: #F2F2F2;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.facebookLoginGroup {
    margin-left: 10px;
    margin-riht: 10px;
}

.formSpanReplacement {
    padding: 2px 12px;
    width: 1%;
    display: table-cell;
}


.formSpanAdjustment {
    margin-left: -24px;
}

.width100 {
    width: 100% !important;
}

.control-label .btn-addPictureToFront, .control-label .btn-addPictureToBack {
    margin-top: 34px;
}

#main .breadcrumbs {
    background: #eeeeee;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
#main .breadcrumbs ul>li>span {
    float: left;
    color: #204473;
}

#main .breadcrumbs ul>li>a {
    color: rgb(60,171,218);
    display: block;
    padding: 2px 6px;
    font-size: 12px;
    float: left;
}

#main .breadcrumbs li > a {
    background: #eeeeee !important;
}

#main .breadcrumbs li i.fa-angle-right {
    margin: 6px 5px 6px 0px;
}

li.active>a {
    background: #f2f2f2 !important;
    border-bottom: 0 !important;
}

#navigation .mobile-nav {
    display: none;
    list-style: none;
    padding: 0 20px 20px 20px;
    margin: 0;
    background: rgb(60,171,218);
}

#navigation .mobile-nav>li>a {
    display: block;
    background: #1A385E;
    padding: 8px 12px;
    margin-bottom: 1px;
    color: #fff;
    text-decoration: none;
}

#navigation .mobile-nav>li>ul {
    background: #1A385E;
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px 0;
}

#navigation .mobile-nav>li>ul>li a {
    padding: 4px 35px;
    display: block;
    color: #fff;
    text-decoration: none;
}

#navigation .mobile-nav>li.active a {
    background: #2176CC !important;
    color: #000;
}

#navigation .mobile-nav>li>ul.open {
    display: block;
}

.form-bordered.top-bordered {
    border-top: 1px solid #ddd;
}

.newReply {
    margin-left:15px;
    margin-top:10px;
}

.myPadding20 {
    padding: 20px;
}

#myBrand {
    background: url("../img/logo@2x.png") no-repeat;
    background-size: 44px 44px;
    float: left;
    padding-right: 69px;
    line-height: 42px;
    color: rgb(60,171,218);
}
