<template name="notificationCenter">
    <div class="row">
        <div class="col-md-6 center">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="fa fa-th-list"></i> Notification center</h3>
                </div>
                <div class="box-content nopadding" style="text-align: center">

                            {{#each notification}}
                            	{{> notificationRow}}
                            {{/each}}
{{#if notificationsReady}}
      {{#unless allNotificationsLoaded}}
                            <button class="btn btn-primary btn-primary-main btn-loadMore"><i class="fa fa-hand-o-down"> Load more</i></button>

      {{/unless}}
    {{else}}
      <div style="margin-bottom: 10px;">{{> spinner}}</div>
    {{/if}}
                </div>
            </div>
        </div>
    </div>

</template>

<template name="notificationRow">
	<img src="{{eventUserPicture}}" alt="">
                <div class="details">
                    <div class="name">{{{eventUserNameWithLink}}}</div>
                    <div class="message">
                        {{message}}
                    </div>
                </div>
                <br/>
</template>