<template name="editFlashcard">
    <div class="box nopadding">

        <form action="#" class='form-horizontal form-bordered'>
            {{> editFlashcardForm }}
            <div class="form-actions">
                {{> editFlashcardButtons }}
            </div>
        </form>
    </div>
</template>
<template name="editFlashcardForm">
    <div class="control-group">
        <label for="front" class="control-label">Front

            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToFront hidden-phone">Add Picture</button>
        </label>

        <div class="controls">

            <div name="front" id="front" class="flashcard flashcardNoMargin" contentEditable="false">
                        <a href='{{newFrontPicture}}' class="flashcardPicture pull-right slimboxPicture">{{#if newFrontPicture}}<img
                            src="{{newFrontPicture}}/convert?h=80&w=80" class="editableImage"/>{{else}}&nbsp;{{/if}}</a>
            <div name="front" class="flashcardFront" contentEditable="true">{{{front}}}</div>
            </div>
            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToFront visible-phone">Add Picture</button>
        </div>
    </div>
    <div class="control-group itemSpecific">
        <label for="frontNote" class="control-label">Front note<br/></label>
        <div class="controls">
            <div name="frontNote" id="frontNote" class="flashcard flashcardNoMargin" contentEditable="true" placeholder="taki?" data-placeholder="czy taki?">{{frontNote}}</div>
        </div>
    </div>
    <div class="control-group">

        <label for="back" class="control-label">Back
            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToBack hidden-phone">Add Picture</button>
        </label>

        <div class="controls">
            <div name="back" id="back" class="flashcard flashcardNoMargin" contentEditable="false">
                        <a href='{{newBackPicture}}' class="flashcardPicture pull-right slimboxPicture">{{#if newBackPicture}}<img
                            src="{{newBackPicture}}/convert?h=80&w=80" class="editableImage"/>{{else}}&nbsp;{{/if}}</a>
            <div name="back" class="flashcardBack" contentEditable="true">{{{back}}}</div>
            </div>
            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToBack visible-phone">Add Picture</button>
        </div>
    </div>
    <div class="control-group itemSpecific">
        <label for="frontNote" class="control-label">Back note</label>
        <div class="controls">
            <div name="backNote" id="backNote" class="flashcard flashcardNoMargin" contentEditable="true" placeholder="taki?" data-placeholder="czy taki?">{{backNote}}</div>
        </div>
    </div>
    <div id="advancedSettings" style='display: none;'>
    {{> publicGroup }}
    </div>
</template>


<template name="editFlashcardButtons">
        <button type="submit" class="btn btn-primary btn-primary-main btn-submit">Update Flashcard</button>
        <button class="btn btn-primary btn-primary-main btn-showAdvanced" style="display: none;">Show advanced settings</button>
</template>