<template name="flashcardDetailsModal">
    <!-- Modal -->
    <div id="flashcardDetailsModal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="flashcardDetailsModal" aria-hidden="true">
        <div class="box box-bordered box-color box-modal modal-dialog">
            <div class="box-title box-modal">
                <h3><i class="fa fa-th-list"></i> Flashcard's details</h3>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="box-content nopadding modal-box">


                <div class="box-content padding modal-box">


                    {{> flashcardDetails}}


                </div>
                <div class="modal-footer-mine">
                    <div class="pull-right modal-form-actions">
                        <button type="button" class="btn btn-primary btn-primary-main" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>