<template name="courseRow">

	<tr class="courseRow" data-id="{{_id}}">
		<td>{{name}}</td>
		<td>{{students.length}}</td>
		<td class="hidden-480">{{flashcardsCount}}</td>
		<td class="hidden-480">{{lessons.length}}</td>
		<td class="hidden-480">
            <span class="badge {{isUpVoted}}"><i class="fa fa-thumbs-o-up"></i> {{upVotes.length}}</span> &nbsp;
<span class="badge {{isDownVoted}}"><i class="fa fa-thumbs-o-down"></i> {{downVotes.length}}</span>
		</td>
		<td class="hidden-480">{{comments.length}}</td>
		<td>
			<button class="btn btn-primary btn-primary-main btn-enterCourse btn-block" data-id="{{_id}}"><i class="fa fa-hand-o-left"></i>
			</button>
		</td>
	</tr>

</template>


<template name="featuredCourseRow">

    <tr class="courseRow" data-id="{{_id}}">
        <td>{{name}}</td>
        <td>{{students.length}}</td>
        <td class="hidden-480">{{flashcardsCount}}</td>
        <td class="hidden-480">{{lessons.length}}</td>
        <td class="hidden-480">
            <span class="badge {{isUpVoted}}"><i class="fa fa-thumbs-o-up"></i> {{upVotes.length}}</span> &nbsp;
            <span class="badge {{isDownVoted}}"><i class="fa fa-thumbs-o-down"></i> {{downVotes.length}}</span>
        </td>
        <td class="hidden-480">{{comments.length}}</td>
        <td>
            <button class="btn btn-primary btn-primary-main btn-enterCourse btn-block" data-id="{{_id}}"><i class="fa fa-hand-o-left"></i>
            </button>
        </td>
    </tr>

</template>
