<template name="courseEventsTab">
    <div class="tab-pane active fade in" id="events">


        {{#if isCourseOwner}}
            {{> addCourseNews }}

        {{/if}}


            {{> courseEvents }}


</div>
</template>


<template name="courseEvents">

            <ul class="timeline">
                {{#with course}}

                    {{#each event}}

                    <li>
                        <div class="timeline-content">
                            {{#with eventData}}
                                <div class="left">
                                    <div class="iconFace">
                                        <img style="width: 40px" src="{{picture}}" alt="">
                                    </div>

                                </div>
                                <div class="activity">
                                    <div class="user"><a href="#">{{user}}</a>
                                        <span>{{shortMessage}}</span>

                                        <div><span class="activityDate">{{date}}</span></div>
                                    </div>

                                    <p>
                                        {{message}}
                                    </p>
                                </div>
                            {{/with}}
                        </div>
                        <div class="line"></div>
                    </li>
                {{/each}}
{{/with}}
            </ul>

</template>

<template name="addCourseNews">
    <div class="row-fluid">
        <div class="new-news">
            <h4>Add News</h4>

            <div class="control-group">
                <div class="controls">
                    <textarea name="newNews" class="span8 newNews" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="span6 btn btn-primary btn-primary-main center btn-addNews">Post News</button>
        </div>
    </div>
</template>