<template name="courseEventsTab">
    <div class="tab-pane active fade in" id="events">

            {{> courseEvents }}


</div>
</template>


<template name="courseEvents">

            <ul class="timeline">
                {{#with course}}

                    {{#each event}}

                    <li>
                        <div class="timeline-content">
                            {{#with eventData}}
                                <div class="left">
                                    <div class="icon {{color}}">
                                        <i class="{{icon}}"></i>
                                    </div>

                                </div>
                                <div class="activity">
                                    <div class="user"><a href="#">{{user}}</a>
                                        <span>{{event}}</span>

                                        <div><span class="activityDate">{{date}}</span></div>
                                    </div>

                                    <p>
                                        {{message}}
                                    </p>
                                </div>
                            {{/with}}
                        </div>
                        <div class="line"></div>
                    </li>
                {{/each}}
{{/with}}
            </ul>

</template>