<template name="course">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-bordered box-color">

                <div class="box-title">
                    <h3><i class="fa fa-th-list"></i> Course: {{courseName}}</h3>
                  {{#unless isCourseOwner}}
                      <div class="pull-right">
                          <button class="btn btn-primary btn-primary-main btn-courseEnrollment {{enrollBtnAction}}"
                                  data-id="{{_id}}"><i
                                  class="fa fa-hand-o-left"> {{enrollBtnText}}!</i>
                          </button>
                      </div>

                  {{/unless}}
                </div>

                <div class="box-content nopadding tabbable">
                    <div class="tabs-container">
                        <ul class="tabs tabs-inline tabs-left nav">
                            <li class="active">
                                <a href="#events" data-toggle="tab" class="tabLink tabbable"><i
                                        class="fa fa-calendar-o"></i> <span
                                        class="hidden-xs">Timeline</span></a>
                            </li>
                            <li>
                                <a href="#lessons" data-toggle="tab" class="tabLink tabbable"><i class='fa fa-book'></i> <span
                                        class="hidden-xs">Lessons</span></a>
                            </li>
                            <li>
                                <a href="#comments" data-toggle="tab" class="tabLink tabbable"><i
                                        class="fa fa-comments-o"></i> <span
                                        class="hidden-xs">Comments </span>({{commentsLength}})</a>
                            </li>


                          {{#if isCourseOwner}}

                              <li>
                                  <a href="#courseStats" data-toggle="tab" class="tabLink tabbable"><i
                                          class="fa fa-bar-chart-o"></i> <span
                                          class="hidden-xs">Stats</span></a>
                              </li>
                              <li>
                                  <a href="#courseSettings" data-toggle="tab" class="tabLink tabbable"><i
                                          class="fa fa-edit"></i><span class="hidden-xs">Settings</span></a>
                              </li>


                          {{/if}}

                        </ul>
                    </div>
                    <div class="tab-content padding tab-content-inline">
                      {{> courseEventsTab }}
                      {{> courseLessonsTab }}
                      {{> commentsTab }}
                      {{> courseSettingsTab}}



                      {{#if isCourseOwner}}
                        {{> courseStatsTab}}

                      {{/if}}

                        <div class="tab-pane fade" id="picture">
                            awerwreaw
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

