<template name="myCourses">
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="icon-th-list"></i> My courses</h3>
                </div>
                <div class="box-content nopadding">
                    <table class="table table-hover table-nomargin">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Students</th>
                            <th class="hidden-480">Flashcards</th>
                            <th class="hidden-480">Lessons</th>
                            <th class="hidden-480">Votes</th>
                            <th class="hidden-480">Comments</th>
                            <th>Enter</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each course}}
                            <tr class="courseRow" data-id="{{_id}}">
                                <td>{{name}}</td>
                                <td>0</td>
                                <td class="hidden-480">0</td>
                                <td class="hidden-480">0</td>
                                <td class="hidden-480">
                                    <span class="badge badge-success">+ {{upVotes}}</span> /
                                    <span class="badge badge-warning">- {{downVotes}}</span>
                                </td>
                                <td class="hidden-480"></td>
                                <td>
                                    <button class="btn btn-primary btn-enterCourse btn-block" data-id="{{_id}}"><i class="icon-hand-left"></i>
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        <tr>
                            <td></td><td></td><td class="hidden-480"></td><td class="hidden-480"></td><td class="hidden-480"></td><td class="hidden-480"></td>
                            <td><button class="btn btn-primary btn-addCourseModal btn-block" data-id="{{_id}}"><i class="icon-plus-sign-at"></i> Add new</button></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{> newCourseModal }}
</template>