<template name="myCourses">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="fa fa-th-list"></i> Courses I'm teaching</h3>
                </div>
                <div class="box-content nopadding">
                    <table class="table table-hover table-nomargin">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Students</th>
                            <th class="hidden-480">Flashcards</th>
                            <th class="hidden-480">Lessons</th>
                            <th class="hidden-480">Votes</th>
                            <th class="hidden-480">Comments</th>
                            <th>Enter</th>
                        </tr>
                        </thead>
                        <tbody>
                                {{#each course}}
                            {{> courseRow }}
                            {{/each}}
                        <tr>
                            <td></td><td></td><td class="hidden-480"></td><td class="hidden-480"></td><td class="hidden-480"></td><td class="hidden-480"></td>
                            <td><button class="btn btn-primary btn-primary-main btn-addCourseModal btn-block" data-id="{{_id}}"><i class="fa fa-plus"></i> Add new</button></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
