<template name="courseForm">
    <form class="form-validate form-horizontal form-bordered">

        <div class="form-group" id="NameControlGroup">
            <label class="control-label hidden-xs col-sm-4">Name</label>

            <div class="input-group col-sm-8">
                <span class="input-group-addon"><i class="fa fa-folder-open-o"></i></span>
                <input type="text" name="newCourseName" id="newCourseName" placeholder="Course Name"/><br/>

            </div>
        </div>
        <div class="form-group" id="shortDescriptionControlGroup">
            <label class="control-label hidden-xs col-sm-4">Short Description</label>

            <div class="input-group col-sm-8">
                <span class="input-group-addon"><i class="fa fa-folder-open-o"></i></span>
                <textarea name="newCourseShortDescription" id="newCourseShortDescription" rows="3" ></textarea>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Public?</label>

            <div class="input-group col-sm-8">
                <label class='checkbox'>
                    <input type="checkbox" name="newCoursePublic" id="newCoursePublic" value="true" checked> Do you want this course to be searchable?<br/>
                    <small>If not, you can provide your students with direct link that works as a password</small>
                </label>
            </div>
        </div>
    </form>


</template>
