<template name="myProfile">
<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								<i class="icon-user"></i>
								My profile
							</h3>
						</div>
						<div class="box-content nopadding">
							<ul class="tabs tabs-inline tabs-top">
								<li class="active">
									<a href="#profile" data-toggle="tab"><i class="icon-user"></i> Profile</a>
								</li>
								<!-- <li class="">
									<a href="#notifications" data-toggle="tab"><i class="icon-bullhorn"></i> Notifications</a>
								</li> -->
							</ul>
							<div class="tab-content padding tab-content-inline tab-content-bottom">
								<div class="tab-pane active" id="profile">
									{{#with user}}
										<div class="row-fluid">
											<div class="span2">
												<div class="fileupload fileupload-new" data-provides="fileupload">
													<div class="fileupload-new thumbnail" style="max-width: 180px;"><img src="{{profile.picture}}"></div>
													<button class="btn btn-primary btn-primary-main changeProfilePicture" value="3">Change</button>
												</div>
											</div>
											<div class="span10">
												
												<div class="control-group">
													<label for="firstName" class="control-label right">First name:</label>
													<div class="controls">
														<a href="javascript:" name="firstName" data-type="text" class="user-firstName editable">{{identity.name.firstName}}</a>
													</div>
												</div>
												<div class="control-group">
													<label for="lastName" class="control-label right">Last name:</label>
													<div class="controls">
														<a href="javascript:" name="lastName" data-type="text" class="user-lastName editable">{{identity.name.lastName}}</a>
													</div>
												</div>

												<div class="control-group">
													<label for="nick" class="control-label right">Display name:</label>
													<div class="controls">
														<a href="javascript:" name="nick" data-type="text" class="user-nick editable">{{identity.nick}}</a>
													</div>
												</div>
												
						{{#if identity.email}}
                                                <div>
                                                    <h4>Change Password</h4>
                                                </div>
												<div class="control-group">
													<label for="pw" class="control-label right">Current Password:</label>
													<div class="controls">
														<input type="password" name="pw" class="input-xlarge pw" value="">

													</div>
												</div>

                                                <div class="control-group">
                                                    <label for="pw" class="control-label right">New Password:</label>
                                                    <div class="controls">
                                                        <input type="password" name="pw1" class="input-xlarge pw1" value="">

                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label for="pw" class="control-label right">Repeat Password:</label>
                                                    <div class="controls">
                                                        <input type="password" name="pw2" class="input-xlarge pw2" value="">

                                                    </div>
                                                </div>

                                                <div class="form-button">
                                                    <a href="#" class="btn btn-primary btn-primary-main changePassword">Change</a>
                                                </div>
						{{/if}}
												
											</div>
										</div>
									{{/with}}
								</div>
								<div class="tab-pane" id="notifications">
									<form action="#" class="form-horizontal">
										<div class="control-group">
											<label for="asdf" class="control-label">Email notifications</label>
											<div class="controls">
												<label class="checkbox"><input type="checkbox" name="asdf"> Send me security emails</label>
												<label class="checkbox"><input type="checkbox" name="asdf"> Send system emails</label>
												<label class="checkbox"><input type="checkbox" name="asdf"> Lorem ipsum dolor</label>
												<label class="checkbox"><input type="checkbox" name="asdf"> Minim veli</label>
											</div>
										</div>
										<div class="control-group">
											<label for="asdf" class="control-label">Email for notifications</label>
											<div class="controls">
												<select name="email" id="email">
													<option value="1">asdf@blasdas.com</option>
													<option value="2">johnDoe@asdasf.de</option>
													<option value="3">janeDoe@janejanejane.net</option>
												</select>
											</div>
										</div>
										<div class="form-actions">
											<input type="submit" class="btn btn-primary" value="Save">
											<input type="reset" class="btn" value="Discard changes">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</template>
