<template name="myFlashcard">
    <div class="flashcardsList">

        <div class="row">
            <div class="col-md-12">
                <div class="center">
                    <div class="myFlashcardRow row {{isFlashcardSelected}}" data-id="{{_id}}" >
                        <div class="col-md-4">
                            <div class="row">
                            <div class="pull-left"><span class="badge badge-upVote clickable badge-success"><i class="fa fa-thumbs-o-up"></i> {{upVotes.length}}</span>
                                &nbsp;
                                <span class="badge badge-downVote clickable badge-warning"><i class="fa fa-thumbs-o-down"></i> {{downVotes.length}}</span>
                            </div>
                            </div>
                            <div class="row">
                            Times Repeated: {{actualTimesRepeated}}<br/>
                            Easiness Factor: {{easinessFactor}}<br/>
                            Next Repetition: {{nextRepetition}}<br/>
                            </div>
                            <div class="row myFlashcardButtons">
                            <button class=" btn btn-primary btn-primary-main btn-editFlashcard btn-block">Edit
                            </button>
                                <button class=" btn btn-primary btn-primary-main btn-historyFlashcard btn-block">History ( {{previousAnswers.length}} )
                                </button>
                                <button class=" btn btn-primary btn-primary-main btn-commentsFlashcard btn-block"> Comments ( {{#with flashcard}} {{comments.length}}
                                    {{/with}})
                                </button>
                             <button class=" btn btn-primary btn-primary-main btn-selectFlashcard btn-block" data-id="{{_id}}">{{isFlashcardSelectedButton}}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-8 selectableFlashcard">
                            <div class="center">
                                <div class="flashcard front">{{{currentItemFront}}}</div>
                                <button class="btn btn-primary btn-primary-main btn-block showAnswer {{_id}}" data-id="{{_id}}">Show answer</button>
                                <div class="flashcard back {{_id}}" style="display: none;">{{{currentItemBack}}}</div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>
    </div>

    <div style="display: none;">{{reloadFlashcard}}</div>
</template>