<template name="newFlashcard">
    <div class="row-fluid">
        <div class="span8 center">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="icon-th-list"></i> New FlashCard</h3>
                </div>
                <div class="box-content nopadding">

                    <form action="#" class='form-horizontal form-bordered'>
                        {{> flashcardForm }}
                        <div class="form-actions">
                            {{> flashcardButtons }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{> newCollectionModal }}
</template>

<template name="flashcardForm">
    <div class="control-group">
        <label for="front" class="control-label">Front
            
            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToFront hidden-phone">Add Picture</button>
</label>

        <div class="controls">

            <div name="front" id="newFront" class="flashcard flashcardNoMargin" contentEditable="false">
                <a href='{{newFrontPicture}}' class="flashcardPicture pull-right slimboxPicture">{{#if newFrontPicture}}<img src="{{newFrontPicture}}/convert?h=80&w=80" class="editableImage"/>{{else}}&nbsp;{{/if}}</a><div name="front" class="flashcardFront"   contentEditable="true"></div>
</div>
            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToFront visible-phone">Add Picture</button>
        </div>
    </div>
    <div class="control-group">

        <label for="back" class="control-label">Back
                    <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToBack hidden-phone">Add Picture</button></label>

        <div class="controls">
<div name="back" id="newBack" class="flashcard flashcardNoMargin" contentEditable="false">
                <a href='{{newBackPicture}}' class="flashcardPicture pull-right slimboxPicture">{{#if newBackPicture}}<img src="{{newBackPicture}}/convert?h=80&w=80" class="editableImage"/>{{else}}&nbsp;{{/if}}</a><div name="back" class="flashcardBack"   contentEditable="true"></div>
</div>
                    <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToBack visible-phone">Add Picture</button>
        </div>
    </div>
    <div id="advancedSettings" style='display: none;'>

        {{> publicGroup }}


        {{> collectionGroup }}


        <div class="control-group" id="coursesControlGroup">
            <label class="control-label">Course</label>

            <div class="controls">

                <select name="course" id="course" class="input-large select2">
                    <option>Don't add to any courses</option>

                    {{#each course}}
                    <option value="{{_id}}" {{selectIfSelectedCourse}}>{{name}}</option>
                    {{/each}}

                </select>
            </div>
        </div>
        <div class="control-group" id="lessonControlGroup" style=''>
            <label class="control-label">Lesson</label>

            <div class="controls">

                <select name="lesson" id="lesson" class="input-large select2">
                    <option value="">Don't add to any lessons</option>

                    {{#each lesson}}
                    <option value="{{_id}}" id="{{_id}}" {{selectIfSelectedLesson}}>{{name}}</option>
                    {{/each}}

                </select>
            </div>
        </div>

        <div class="control-group" id="sourcesControlGroup" style="display: none;">
            <label class="control-label">Sources</label>

            <div class="controls">
                <input type="text" name="youtubeSource" id="youtubeSource" placeholder="Youtube Link"/><br/>
                <input type="text" name="wikipediaSource" id="wikipediaSource"
                placeholder="Wikipedia Link"/><br/>
                <input type="text" name="linkSource" id="linkSource" placeholder="Other Link"/> <br/>
                <input type="text" name="khanSource" id="khanSource" placeholder="KhanAcademy Video"/> <br/>
                <input type="text" name="otherSource" id="otherSource"
                placeholder="Other source (bk, movie, article, common knowledge)"/> <br/>
            </div>
        </div>
    </div>

</template>

<template name="flashcardButtons">

    <button type="submit" class="btn btn-primary btn-primary-main btn-submit">Add Flashcard</button>
    <button class="btn btn-primary btn-primary-main btn-showAdvanced">Show advanced settings</button>
</template>

<template name="publicGroup">
    <div class="control-group">
        <label class="control-label">Public?</label>

        <div class="controls">
            <label class='switch'>

                <div class="switch switch-small" data-on-label="Yes" data-off-label="No">
                    <input type="checkbox" name="public" id="public" value="true" checked="checked" />
                </div> <br/>Do you want this flashcard to be searchable?<br/>
                <small>Is it specific only to you or could it make sense to other TheBrain users?</small>

            </label>
        </div>
    </div>
</template>


<template name="collectionGroup">
    <div class="control-group">
        <label class="control-label">Collection</label>

        <div class="controls">
            <select name="collection" id="collection" class="input-large select2">
                {{#each collection}}

                <option value="{{_id}}" {{selectIfNewOrMain}}>{{name}}</option>
                {{/each}}
                {{select2 'collection'}}
                <option value="">Don't add to any collections</option>
            </select>
            <button class="btn btn-primary btn-primary-main btn-collectionModal">Add new</button>
        </div>
    </div>
</template>
