<template name="newFlashcard">
    <div class="row">
        <div class="col-md-8 center">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="fa fa-th-list"></i> New Flashard</h3>
                </div>
                <div class="box-content nopadding">

                    <form action="#" class='form-horizontal form-bordered'>
                        {{> flashcardForm }}
                        <div class="form-actions">
                            {{> flashcardButtons }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="flashcardForm">
    <div class="form-group">
        <label for="front" class="control-label col-sm-4">Front

            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToFront hidden-xs">Add Picture
            </button>
        </label>

        <div class="input-group col-sm-8">
            <span class="formSpanReplacement"></span>

            <div name="front" id="newFront" class="flashcard flashcardNoMargin formSpanAdjustment"
                 contentEditable="false">
                <a href='{{newFrontPicture}}' class="flashcardPicture pull-right slimboxPicture">{{#if newFrontPicture}}<img
                        src="{{newFrontPicture}}/convert?h=80&w=80" class="editableImage"/>{{else}}&nbsp;{{/if}}</a>

                <div name="front" class="flashcardFront" contentEditable="true">{{{front}}}</div>
            </div>

        </div>
        <div class="col-sm-8 visible-xs">
            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToFront">
                Add Picture
            </button>
        </div>
    </div>
    <div class="form-group itemSpecific" style="display: none;">
        <label for="frontNote" class="control-label col-sm-4">Front note</label>
        <div class="input-group col-sm-8">
            <span class="formSpanReplacement"></span>

            <div name="frontNote" id="frontNote" class="flashcard flashcardNoMargin formSpanAdjustment" contentEditable="true" placeholder="taki?" data-placeholder="czy taki?">{{frontNote}}</div>
        </div>
    </div>
    <div class="form-group">

        <label for="back" class="control-label col-sm-4">Back
            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToBack hidden-xs">Add Picture
            </button>
        </label>

        <div class="input-group col-sm-8">
            <span class="formSpanReplacement"></span>

            <div name="back" id="newBack" class="flashcard flashcardNoMargin formSpanAdjustment"
                 contentEditable="false">
                <a href='{{newBackPicture}}' class="flashcardPicture pull-right slimboxPicture">{{#if
                    newBackPicture}}<img src="{{newBackPicture}}/convert?h=80&w=80" class="editableImage"/>{{else}}&nbsp;{{/if}}</a>

                <div name="back" class="flashcardBack" contentEditable="true">{{{back}}}</div>
            </div>

        </div>
        <div class="col-sm-8 visible-xs">
            <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToBack">Add Picture
            </button>
        </div>
    </div>
    <div class="form-group itemSpecific" style="display: none;">
        <label for="frontNote" class="control-label col-sm-4">Back note</label>
        <div class="input-group col-sm-8">
            <span class="formSpanReplacement"></span>

            <div name="backNote" id="backNote" class="flashcard flashcardNoMargin formSpanAdjustment" contentEditable="true" placeholder="taki?" data-placeholder="czy taki?">{{backNote}}</div>
        </div>
    </div>
    <div id="advancedSettings" style='display: none;'>

        {{> publicGroup }}


        {{> collectionGroup }}

        {{> lessonGroup }}

        <div class="form-group" id="sourcesControlGroup" style="display: none;">
            <label class="control-label">Sources</label>

            <div class="input-group col-sm-8">
                <input type="text" name="youtubeSource" id="youtubeSource" placeholder="Youtube Link"/><br/>
                <input type="text" name="wikipediaSource" id="wikipediaSource"
                       placeholder="Wikipedia Link"/><br/>
                <input type="text" name="linkSource" id="linkSource" placeholder="Other Link"/> <br/>
                <input type="text" name="khanSource" id="khanSource" placeholder="KhanAcademy Video"/> <br/>
                <input type="text" name="otherSource" id="otherSource"
                       placeholder="Other source (bk, movie, article, common knowledge)"/> <br/>
            </div>
        </div>
    </div>

</template>

<template name="lessonGroup">

    <div class="form-group" id="coursesControlGroup">
        <label class="control-label col-sm-4">Course</label>

        <div class="col-sm-8">
            <span class="formSpanReplacement"></span>

            <select name="course" id="course" class="select2 width100">
                <option>Don't add to any courses</option>

                {{#each course}}
                <option value="{{_id}}"
                {{selectIfSelectedCourse}}>{{name}}</option>
                {{/each}}

            </select>
        </div>
    </div>
    <div class="form-group" id="lessonControlGroup" style=''>
        <label class="control-label col-sm-4">Lesson</label>

        <div class="col-sm-8">

            <select name="lesson" id="lesson" class="select2 width100">
                <option value="">Don't add to any lessons</option>

                {{#each lesson}}
                <option value="{{_id}}" id="{{_id}}"
                {{selectIfSelectedLesson}}>{{name}}</option>
                {{/each}}

            </select>
        </div>
    </div>
</template>

<template name="flashcardButtons">

    <button type="submit" class="btn btn-primary btn-primary-main btn-submit">Add Flashcard</button>
    <button class="btn btn-primary btn-primary-main btn-showAdvanced">Show advanced settings</button>
</template>

<template name="publicGroup">
    <div class="form-group">
        <label class="control-label col-sm-4">Public?</label>

        <div class="input-group col-sm-8">
            <span class="formSpanReplacement"></span>

            <label class='switch formSpanAdjustment'>

                <div class="switch switch-small" data-on-label="Yes" data-off-label="No">
                    <input type="checkbox" name="public" id="public" value="true" checked="checked"/>
                </div>
                <br/>Do you want this flashcard to be searchable?<br/>
                <small>Is it specific only to you or could it make sense to other TheBrain users?</small>

            </label>
        </div>
    </div>
</template>


<template name="collectionGroup">
    <div class="form-group">
        <label class="control-label col-sm-4">Collection</label>

        <div class="col-sm-6">
            <span class="formSpanReplacement"></span>

            <input type="hidden" name="collection" id="collection" class="select2 width100" />

        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-primary-main btn-collectionModal width100">Add new</button>
        </div>
    </div>
</template>


<template name="editFlashcardPrompt">
    <div class="box-content modalInfo" id="editFlashcardPrompt">
        You are about to change the FlashCard, your changes will affect all TheBrain users.
        If you want to add personal information to the FlashCard please use the 'notes' fields.
        If you do want to change the FlashCard, please provide a reason for change.
    </div>
    <form class="form-validate form-horizontal form-bordered top-bordered" id="reasonForChange">

        <div class="form-group" id="reasonFormGroup">
            <label class="control-label hidden-xs col-sm-4">Reason for update</label>

            <div class="input-group col-sm-8">
                <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                <input class="form-control" type="text" name="reason"
                       id="reason" placeholder="Reason for update" required/><br/>
            </div>
        </div>
    </form>
</template>