<template name="lesson">

    <div class="row-fluid">
        <div class="span9 center">
            <div class="box box-bordered box-color">

                    <div class="box-title">
                        <h3><i class="icon-th-list"></i> Course: {{#isolate}}{{courseName}}{{/isolate}} Lesson: {{#isolate}} {{lessonName}}{{/isolate}}</h3>
                    </div>

                    <div class="box-content nopadding">
                        <div class="tabs-container">
                            <ul class="tabs tabs-inline tabs-left nav">
                                <li class="active">
                                    <a href="#events" data-toggle="tab" class="tabLink"><i class="icon-calendar"></i> <span
                                            class="hidden-phone">Timeline</span></a>
                                </li>
                                <li>
                                    <a href="#lessonFlashcards" data-toggle="tab" class="tabLink"><i class='icon-camera'></i> <span
                                            class="hidden-phone">Flashcards</span></a>
                                </li>
                                <li>
                                    <a href="#comments" data-toggle="tab"><i class="icon-twitter"></i> <span
                                            class="hidden-phone">Comments </span>(9)</a>
                                </li>

                                    <li>
                                        <a href="#edit" data-toggle="tab"><i class="icon-edit"></i> <span
                                                class="hidden-phone">Edit</span></a>
                                    </li>
                            </ul>
                        </div>
                        <div class="tab-content nopadding tab-content-inline">
                            {{#isolate}}{{> lessonFlashcardsTab }}{{/isolate}}
                            {{#isolate}}{{> lessonCommentsTab }}{{/isolate}}
                            <div class="tab-pane" id="picture">
                                awerwreaw
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {{> newFlashcardModal}}
    {{> editFlashcardModal }}
    {{> commentsFlashcardModal }}
</template>


<template name="lessonCommentsTab">
</template>
