<template name="lessonFlashcardsTab">
	<div class="tab-pane fade" id="lessonFlashcards">
		{{> lessonFlashcardsList }}
	</div>
</template>

<template name="lessonFlashcardsList">
	{{#constant}}
	{{> flashcardsOptions}}
	{{/constant}}

	{{#isolate}}
	{{#each flashcard}}
	{{> flashcardRow}}
	{{/each}}
	{{/isolate}}
</template>

<template name="flashcardRow">
	<div class="flashcardsList span12">

		<div class="row-fluid">
			<div class="span9">
				<div class="flashcardRow center">

					<h4>{{front}}</h4>
					<h4>{{back}}</h4>
				</div>
			</div>
			<div class="span3 flashcardOptionsRow">
				<div class="pull-left">{{upVotes}} / {{downVotes}}</div>
				<div class="">By: {{author}} ({{points}})</div>
				<div class="">Comments: {{comments}}</div>
				<div class=""></div>
			</div>
		</div>
	</div>
</template>

<template name="flashcardsOptions">
	<div class="flashcardsOptions row-fluid">

		<div class="pull-right">
			<label class='switch'>
				Show users flashcards?
				<div class="switch switch-small" data-on-label="Yes" data-off-label="No">
					<input type="checkbox" name="onlyByTeacher" id="onlyByTeacher" value="true" checked="checked" />
				</div> 	
			</label>
		</div>
		<div class="">
			<button class="btn btn-primary btn-primary-main btn-addAll btn-block"><i class="icon-hand-down"></i> Add All
			</button>
		</div>
	</div>

</template>