<template name="lessonFlashcardsTab">
    <div class="tab-pane fade lessonFlashcards" id="lessonFlashcards">
        {{> lessonFlashcardsList }}
    </div>
</template>

<template name="lessonFlashcardsList">
    {{#constant}}
        {{> flashcardsOptions}}
    {{/constant}}

    {{#isolate}}
        {{#each flashcard}}
            {{> flashcardRow}}
        {{/each}}
    {{/isolate}}
</template>

<template name="flashcardRow">

    <div class="flashcardsList">

        <div class="row-fluid">
            <div class="span12">
                <div class="center">
                    <div class="myFlashcardRow row-fluid" data-id="{{_id}}">
                        <div class="span4">
                            <div class="row-fluid">
                                <div class="pull-left"><span class="badge badge-upVote clickable badge-success"><i
                                        class="icon-thumbs-up"></i> {{upVotes.length}}</span>
                                    &nbsp;
                                    <span class="badge badge-downVote clickable badge-warning"><i class="icon-thumbs-down"></i> {{downVotes.length}}</span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                Author: {{userName}}<br/>

                                <div style="display: none">{{reloadFlashcard}}</div>
                            </div>
                            <div class="row-fluid myFlashcardButtons">
                                <button class=" btn btn-primary btn-primary-main btn-addToCollectionFlashcard btn-block"><i
                                        class="icon-hand-down hidden-desktop"></i> Learn
                                </button>
                                <button class=" btn btn-primary btn-primary-main btn-commentsFlashcard btn-block"><i class="icon-hand-down hidden-desktop"></i>
                                    Comments ( {{#isolate}}{{comments.length}}{{/isolate}} )
                                </button>
                                <button class=" btn btn-primary btn-primary-main btn-editFlashcard btn-block"><i class="icon-hand-down hidden-desktop"></i> Edit
                                </button>
                                <button class=" btn btn-primary btn-primary-main btn-selectFlashcard btn-block" data-id="{{_id}}"><i
                                        class="icon-hand-down hidden-desktop"></i> Select
                                </button>
                            </div>
                        </div>
                        <div class="span8 selectableFlashcard">
                            <div class="center">
                                <div class="flashcard front">{{{flashcardFront}}}</div>
                                <div class="flashcard back">{{{flashcardBack}}}</div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>
    </div>

</template>

<template name="flashcardsOptions">
    <div class="flashcardsOptions span12">
        <div class="withSelectedButtons">

            <div class="row-fluid">
                    <div class="span4">
                        <button class=" btn btn-primary btn-primary-main btn-addAll btn-block "><i class="icon-briefcase"></i> Learn all teacher's
                            flashcards ( {{teachersFlashcardsCount}} )
                        </button>
                    </div>
                    <div class="span4">
                        <button class=" btn btn-primary btn-primary-main btn-{{#if isShowStudentsFlashcards}}hide{{else}}show{{/if}}StudentsFlashcards btn-block "><i class="icon-group"></i> {{#if isShowStudentsFlashcards}} Hide {{else}} Show {{/if}} students
                            flashcards ( {{studentsFlashcardsCount}} )
                        </button>
                    </div>
                <div class="span4">
                    <button class=" btn btn-primary btn-primary-main btn-addFlashcardToLesson btn-block "><i class="icon-edit"></i> Add Flashcard
                    </button>
                </div>


            </div>
            <br/>

            <div class="row-fluid">

                <div class="span6">
                    <button class=" btn btn-primary btn-primary-main btn-selectAll btn-block "><i class="icon-hand-right"></i> Select All
                    </button>
                </div>
                <div class="span6">
                    <button class="btn btn-primary btn-primary-main btn-deSelectAll btn-block "><i class="icon-hand-right"></i> Deselect All
                    </button>
                </div>
            </div>
            <div class="row-fluid">
                <br/>
                <span class="label label-info withSelectedLabel">With {{#isolate}}{{flashcardsSelectedLength}}{{/isolate}} selected:</span>

            </div>
            <div class="row-fluid">
                <div class="span12">
                    <button class=" btn btn-primary btn-primary-main btn-addSelectedToCollection btn-block "><i class="icon-hand-right"></i> Learn
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>