<template name="lesson">

    <div class="row">
        <div class="col-md-11 center">
            <div class="box box-bordered box-color">

                    <div class="box-title">
                        <h3><i class="fa fa-th-list"></i> Course: {{courseName}} Lesson:  {{lessonName}}</h3>
                    </div>

                    <div class="box-content nopadding">
                        <div class="tabs-container">
                            <ul class="tabs tabs-inline tabs-left nav">

                                <li class="active">
                                    <a href="#lessonFlashcards" data-toggle="tab" class="tabLink"><i class='fa fa-book'></i> <span
                                            class="hidden-sm">Flashcards</span></a>
                                </li>
                                <!-- <li>
                                    <a href="#comments" data-toggle="tab"><i class="fa fa-comments-o"></i> <span
                                            class="hidden-sm">Comments </span>(9)</a>
                                </li> -->

                            </ul>
                        </div>
                        <div class="tab-content padding tab-content-inline">
                            {{> lessonFlashcardsTab }}
                            {{> lessonCommentsTab }}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {{> editFlashcardModal }}
    {{> commentsFlashcardModal }}
</template>


<template name="lessonCommentsTab">
</template>
