<template name="lessonFlashcardsTab">
    <div class="tab-pane active lessonFlashcards" id="lessonFlashcards">
         {{> flashcardsOptions}}
        {{> lessonFlashcardsList }}
    </div>
</template>

<template name="lessonFlashcardsList">


        {{#each flashcard}}
            {{> flashcardRow}}
        {{/each}}


    <div style="text-align: center">
            {{#if flashcardsReady}}
                {{#unless allFlashcardsLoaded}}
                    <button class="btn btn-primary btn-primary-main btn-loadMore"><i class="icon-hand-up"> Load more</i></button>
                {{/unless}}
            {{else}}
                <div style="margin-bottom: 10px;">{{> spinner}}</div>
            {{/if}}
    </div>
</template>

<template name="flashcardRow">

    <div class="flashcardsList">

        <div class="row">
            <div class="col-md-12">
                <div class="center">
                    <div class="myFlashcardRow row {{isFlashcardSelected}}" data-id="{{_id}}">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="pull-left"><span class="badge badge-upVote clickable badge-success"><i
                                        class="fa fa-thumbs-o-up"></i> {{upVotes.length}}</span>
                                    &nbsp;
                                    <span class="badge badge-downVote clickable badge-warning"><i class="fa fa-thumbs-o-down"></i> {{downVotes.length}}</span>
                                </div>
                            </div>
                            <div class="row">
                                Author: {{userName}}<br/>

                                <div style="display: none">{{reloadFlashcard}}</div>
                            </div>
                            <div class="row myFlashcardButtons">
                                <button class=" btn btn-primary btn-primary-main btn-addToCollectionFlashcard btn-block"><i
                                        class="fa fa-hand-o-down hidden-lg"></i> Learn
                                </button>
                                <button class=" btn btn-primary btn-primary-main btn-commentsFlashcard btn-block"><i class="fa fa-hand-o-down hidden-lg"></i>
                                    Comments ( {{comments.length}} )
                                </button>
                                <button class=" btn btn-primary btn-primary-main btn-editFlashcard btn-block"><i class="fa fa-hand-o-down hidden-lg"></i> Edit
                                </button>

                            </div>
                        </div>

                            <div class="col-md-8 selectableFlashcard">
                                <div class="center">
                                    <div class="flashcard front">{{{flashcardFront}}}</div>
                                    <div class="flashcard back">{{{flashcardBack}}}</div>
                                </div>
                            </div>



                    </div>


                </div>
            </div>

        </div>
    </div>

</template>

<template name="flashcardsOptions">
    <div class="flashcardsOptions col-md-12">
        <div class="withSelectedButtons">

            <div class="row">
                <div class="col-md-4">
                    <button class=" btn btn-primary btn-primary-main btn-addAll btn-block "><i class="fa fa-briefcase"></i> Learn all teacher's
                        flashcards ( {{teachersFlashcardsCount}} )
                    </button>
                </div>
                <div class="col-md-4">
                    <button class=" btn btn-primary btn-primary-main btn-{{#if isShowStudentsFlashcards}}hide{{else}}show{{/if}}StudentsFlashcards btn-block ">
                        <i class="fa fa-group"></i> {{#if isShowStudentsFlashcards}} Hide {{else}} Show {{/if}} students
                        flashcards ( {{studentsFlashcardsCount}} )
                    </button>
                </div>
                <div class="col-md-4">
                    <button class=" btn btn-primary btn-primary-main btn-addFlashcardToLesson btn-block "><i class="fa fa-edit"></i> Add Flashcard
                    </button>
                </div>


            </div>
            <br/>
            {{> flashcardsDefaultOptions }}


        </div>
    </div>

</template>

<template name="flashcardsDefaultOptions">

    <div class="row">
        <div class="col-md-12">
            <button class=" btn btn-primary btn-primary-main btn-addAllInLesson btn-block "><i class="fa fa-hand-o-right"></i> Learn All ({{flashcardsAvailable}})
            </button>
        </div>
    </div>

</template>