<template name="collectionForm">
    <form class="form-validate form-horizontal form-bordered">

        <div class="form-group" id="NameControlGroup">
            <label class="control-label hidden-xs col-sm-4">Name</label>

            <div class="input-group col-sm-8">
                <span class="input-group-addon"><i class="fa fa-folder-open-o"></i></span>
                <input class="form-control" type="text" name="newCollectionName"
                        id="newCollectionName" placeholder="Collection Name" required/><br/>
            </div>
        </div>
    </form>
</template>
