<template name="examModeModal">
    <div class="box-content modalInfo" id="examModeModal">


        <div class="myCollectionsList">

            <div class="col-md-12">

                <p class="scheduleDetails" style="margin-bottom: -15px;">Extra repeat: <a href="#" data-type="text"
                                                                                          data-id="{{collectionId}}"
                                                                                          name="toLearn"
                                                                                          class="toLearn editable">0</a>
                    out of {{itemsInCollection}} Flashcards in collection. </p>

                <input type="text" class="slider-custom" value="" data-slider-min="0"
                       data-slider-max="{{itemsInCollection}}" data-slider-step="1" data-slider-value="0"
                       data-slider-orientation="horizontal" data-slider-handle="square"
                       data-slider-selection="after" data-slider-tooltip="hide" data-id="{{collectionId}}"/>

            </div>
        </div>
        <div class="sliderInfo">
            <p>Use the slider to select how many new flashcards you want to repeat. You can select all the flashcards in
                the collection,
                if you decide to select just a part of them - the flashcards will be selected considering how difficult
                they were for you so far.</p>
        </div>
    </div>

</template>