<template name="policy">
    <div class="row">
        <div class="col-md-9 center">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="fa fa-th-list"></i> Policy</h3>
                </div>
                <div class="box-content padding">
                    <p>Your information will not be sold to third party companies</p>
                    <p>This site will be free for personal usage as long as the site is up. You don't have to worry that your data will disappear one day or that I'll make you pay once you built your database of flashcards. Also, there will be an option to export your flashcards if you decide to quit and delete your account.</p>
                    <p>This site uses cookies to provide you smooth User Experience. TheBrain doesn't track any personal information about you, all our cookies are in plaintext so you can double check our promise, but if you still don't want to use cookies, you won't be able to use our site. (at least at this point) </p>
                </div>
            </div>
        </div>
    </div>
</template>